[2021-09-22 14:45] Frenz86 opened #6 "SeattleTrail()[0] out of index"
This dataset has some issue

[2021-09-22 16:12] aadyotb commented on #6
Hi, can you please provide code/logs of how you set up your environment?

Note that the syntax `SeattleTrail()[0]` only works if you install `ts_datasets` in editable mode (i.e. with `pip install -e ts_datasets/`, rather than `pip install ts_datasets/`). Otherwise, you will have to specify the directory where the dataset can be found, e.g. `SeattleTrail(rootdir="data/multivariate/seattle_trail")[0

[2021-09-23 20:24] javmarina opened #8 "Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Index'"
When a TimeSeries is created, no matter the original DataFrame or Series index, it is recognized as 'Index', which is not valid when calling model.train().

Code to reproduce (adapted from examples):

[code]

As you can see, the index is indeed DatetimeIndex, but it is lost when creating the TimeSeries.

The complete error traceback is:

[code]

Windows 10 21H1, Python 3.8 (miniconda), Merlion v1.

[2021-09-23 22:21] aadyotb commented on #8
Thanks for surfacing this issue. The problem is the line
[code]
If one instead uses
[code]
the time series is created as desired. So it seems that we currently don't handle time zones correctly. Even if I correct the way the index gets created to make it a `DatetimeIndex`, there are some deeper issues with making Merlion time series work seamlessly with time zones for all the models.

For the time

[2021-09-24 10:17] georgettica opened #11 "Feat: Prometheus input"
It seems like this repo can be very useful in reading timeseries data and creating projections..

What about adding Prometheus as an input source?
See a middleware layer you can use https://pypi.org/project/prometheus-pandas/

[2021-09-24 16:08] paulkass commented on #11
Prometheus seems like an interesting integration to have. The only thing though is that it seems like a lot of work:

* The middleware layer you suggested is labeled explicitly as "intended for use in Jupyter notebooks". We'll need to make sure that it scales well in production environments. If it doesn't, we'll need to fallback to the low-level API which would take even more work.
* We'll need to

[2021-09-24 22:12] #11 closed

[2021-09-25 10:18] twsl opened #14 "[FEATURE REQUEST] Update prophet package"
**Is your feature request related to a problem? Please describe.**
`As of v1.0, the package name on PyPI is "prophet"; prior to v1.0 it was "fbprophet".` [source](https://github.com/facebook/prophet)

**Describe the solution you'd like**
Update prophet package

**Describe alternatives you've considered**
.
**Additional context**

[2021-09-26 16:50] treexterr opened #15 "How to install ts_datasets to COLAB?"
Hi.
Tried to install with:
pip install ts_datasets
pip install ts-datasets

What i do wrong?

[2021-09-27 22:33] paulkass commented on #15
so I would imagine in a notebook, you would call the command to clone the repo and then run `pip install -e ts_datasets/` to  install the package.

[2021-09-27 22:33] #15 closed

[2021-09-28 08:26] slyons opened #17 "[FEATURE REQUEST] Update/Forecast/Update example for MoE"
**Is your feature request related to a problem? Please describe.**
I'm trying to figure out if it's possible to update the MoE example with new data as it comes in or if the model has to be rebuilt every time.

**Describe the solution you'd like**
An example similar to the MSES example with the update/prediction loop.

**Describe alternatives you've considered**
The MSES model didn't even come clo

[2021-09-29 15:57] paulkass commented on #6
Feel free to reopen if any new information is presented

[2021-09-29 15:57] #6 closed

[2021-09-29 15:57] #8 closed

[2021-09-29 16:29] treexterr commented on #15
pip install git+https://github.com/salesforce/Merlion.git
pip install -e ts_datasets/

output:
ERROR: ts_datasets/ is not a valid editable requirement. It should either be a path to a local project or a VCS URL (beginning with bzr+http, bzr+https, bzr+ssh, bzr+sftp, bzr+ftp, bzr+lp, bzr+file, git+http, git+https, git+ssh, git+git, git+file, hg+file, hg+http, hg+https, hg+ssh, hg+static-http, svn+s

[2021-09-29 19:27] #14 closed

[2021-09-30 03:04] paulkass commented on #15
Try including this in your collab:

[code]

[2021-09-30 18:55] paulkass commented on #17
MSES so far is the only forecaster model that supports the `update` method unfortunately, so it wouldn't be possible to create an example of MoE using the same features at the moment. However we are considering adding a "streaming" feature to our forecasting models to enable the update/prediction loops for our forecasting models.

[2021-09-30 18:55] #17 closed

[2021-10-01 04:13] MacNale opened #19 "Unable to detect anomalies with the my dataset with weekly sesonality"
Note: I am not a data scientist. I am trying to find out if Merlion can be a solution to my problem.

I tried the example notebook "0_AnomalyIntro.ipynb" with my dataset. It did not detect any anomalies.

**To Reproduce**
1) Replace contents of machine_temperature_system_failure.csv with my own https://github.com/MacNale/TestDataset/blob/main/test_dataset.csv dataset
2) Set sys.path.append("/mypro

[2021-10-04 16:36] TripleEss opened #20 "Could You Please Check Why SeattleTrail is not being loaded successfully"
Please check this command
 [ time_series, metadata = SeattleTrail()[0]]
It is showing me error

Could you please confirm it is is alright

Thanks

[2021-10-04 18:03] sohamranade commented on #20
Are you able to import Seattle Trail from "ts_datasets.forecast"?
I am facing an issue where it says that the "ts_datasets.forecast" module doesn't exist even after installing the library as suggested by the documentation.

[2021-10-04 21:27] mosheliv opened #21 "[FEATURE REQUEST] docker and colab example"
**Is your feature request related to a problem? Please describe.**
Its difficult to try merlion because of requirements collision. A docker or maintained colab notebook would sove this nicely. Currently merlion installation in colab fas because of pandas/statsmodels collision.

**Describe the solution you'd like**
A docker or colab notebook that just work.

**Describe alternatives you've considere

[2021-10-05 01:38] TripleEss commented on #20
No, I am not able to import this

[2021-10-05 01:39] paulkass commented on #20
Have you guys checked Issue #6 ?

[2021-10-05 01:42] paulkass commented on #21
Could you elaborate on the colab pandas/statsmodels collisions that you're seeing? If I open a random colab notebook right now and try to play around with Merlion, am I bound to see these issues?

[2021-10-05 02:02] mosheliv commented on #21
apologies, i should have included a notebook. here is one in a gist,
hopefully it opens well
https://gist.github.com/mosheliv/766e087ef327a38fd2c2ab33c430c4d1/raw/2b0a512a9d893d6b52d3eedf024500670db8c567/0_forecastintro.ipynb

On Tue, Oct 5, 2021, 14:42 Paul Kassianik ***@***.***> wrote:

[2021-10-05 03:44] mosheliv commented on #21
just a few more comments...
I also tried it with my own dataset, no go, it fails later.
At least one easily runnable example will be much appreciated.

On Tue, 5 Oct 2021 at 15:02, Moshe Livne ***@***.***> wrote:

[2021-10-05 03:46] mosheliv commented on #21
And the other problems were mostly with the nbeats notebook

On Tue, Oct 5, 2021, 16:44 Moshe Livne ***@***.***> wrote:

[2021-10-05 06:21] mosheliv commented on #21
I have managed to bypass this by cd to ts_datasets, which is not great.
However, the seatle trail dataset does not have a download function and so the nbeats example fails.

[2021-10-05 11:17] TripleEss commented on #20
[code]

`---------------------------------------------------------------------------------------------------------------`
IndexError                                Traceback (most recent call last)
<ipython-input-32-af0b950f2b5f> in <module>()
----> 1 time_series, metadata = SeattleTrail(rootdir="data/multivariate/seattle_trail")[0]

/usr/local/lib/python3.7/dist-packages/ts_datasets/base.py in __

[2021-10-05 11:51] laijining opened #22 "Why can't I find the m4-info.csv file in the code？"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-10-06 07:19] darinkist opened #23 "[FEATURE REQUEST] Adding holiday effects parameter to Prophet wrapper"
Facebook's Prophet allows you to add [holiday effects](https://facebook.github.io/prophet/docs/seasonality,_holiday_effects,_and_regressors.html) as an additional parameter (holidays) when initializing the model.
For example:  `Prophet(holidays=holidays)`

It would be great to have that option in the [wrapper](https://github.com/salesforce/Merlion/blob/684d66465b84e607bf7727e4629fb457b92e8cc2/merl

[2021-10-06 14:19] eldritchhh opened #24 "Forecasting using past and / or future external data"
As mentioned in title, is it possible to forecast using future external data?

[2021-10-07 13:18] microprediction opened #25 "[BUG]. DefaultForecaster returns naive forecast."
**Describe the bug**
DefaultForecaster returns naive estimate when one might expect otherwise.

**To Reproduce**
See [notebook](https://github.com/microprediction/timeseries-notebooks/blob/main/merlion_test_flat_line.ipynb)

**Expected behavior**
It may be fine. Perhaps it awaits more data or there is a bug in the usage. I'm yet to trace in and the example was created by a fellow contributor.

**D

[2021-10-11 07:51] casterkay opened #26 "AutoSarima seasonality bugs [BUG]"
**Describe the bug**
The default value of the `season_order` parameter ('auto','auto','auto','auto') cannot be passed as-is, because in [autosarima.py line 139](https://github.com/salesforce/Merlion/blob/0dc6c6ecd8baf1e388296ded9e4d5691dfac77f9/merlion/models/automl/autosarima.py#L139) `m = season_order[-1]`, `m` is set to 'auto', but in [line 144](https://github.com/salesforce/Merlion/blob/0dc6c6

[2021-10-11 08:11] datenzauberai opened #27 "[BUG] Sarima will not fit to monthly data (infinite loop?)"
**Describe the bug**
A simple Sarima model won't fit the air passenger data set (seems to loop infinitely in L-BFGS when estimating the parameters). I guess it could be that the internal pre-processing is the culprit, because the same data will be fit when using ARIMA from statsmodels directly.

**To Reproduce**
`
import pandas as pd
from merlion.utils import TimeSeries
from merlion.models.forecas

[2021-10-11 08:31] datenzauberai opened #28 "[BUG] resample_time_stamps fails when time_stamps is int and max_forecast_steps is None"
**Describe the bug**
The resample_time_stamps fails when requesting an integer number of time_stamps and max_forecast_steps has not been set (code tries to subset time_stamps then which won't work for integers).

This can be solved by setting the variable `tf` later which is only needed when a list of time_stamps has been passed.

**To Reproduce**
This will fail...
[code]
This works...
[code]

**E

[2021-10-11 09:21] datenzauberai opened #29 "[BUG] Monthly data (freq='MS') might be accidentally interpolated to daily data"
**Describe the bug**
When using monthly data (freq='MS') the default TemporalResample might interpolate to daily data.

**To Reproduce**
[code]

**Expected behavior**
The monthly data should not be interpolated to daily data by default or an error message should be given.

**Desktop (please complete the following information):**
 - Merlion: 1.0.0

**Additional context**
I hope I got something wron

[2021-10-11 19:28] mosheliv commented on #21
Note that this is not how your installation instructions go...
"You can install merlion from PyPI by calling pip install salesforce-merlion.
You may install from source by cloning this repo, navigating to the root
directory, and calling pip install ., or pip install -e . to install in
editable mode. You may install additional dependencies for plotting &
visualization via pip install salesforce-mer

[2021-10-11 20:28] datenzauberai commented on #27
Resampling would not be useful for these cases. I would rather prefer an exception ("Frequencies 'M', 'SM', 'MS', 'SMS', 'Q', 'QS', ... are not supported") than a resample.

Note that there IS a constant timedelta between the data points in the example: 1 month.

Monthly or quarterly data is super common among forecasting practitioners.

From a quick look at the source code it seems like some effo

[2021-10-11 22:56] mosheliv commented on #21
If I'll get a colab notebook running well, I'll make a pull request. Same
with docker. Your product looks very robust but the proof is in the
pudding, as they say here.

On Tue, Oct 12, 2021, 08:28 Moshe Livne ***@***.***> wrote:

[2021-10-12 18:54] simrat12 opened #31 "error when trying to access datasets"
[merlion_error.docx](https://github.com/salesforce/Merlion/files/7332517/merlion_error.docx)

Unable to access datasets and run simple code, after having cloned the repository , pip installing ts_datasets in editable mode and running the jupyter notebook from thiscloned directory...

[2021-10-13 14:46] chenghaoliu89 commented on #25
Hi @microprediction, thanks for sharing this case. The default forecaster (ETS) will detect seasonality automatically. Here, we make a constraint that the maximum periodicity should be smaller than `max(min(int(10 * np.log10(x.shape[0])), x.shape[0] - 1), 40)`. The reason is we should guarantee sufficient repetition of seasonal pattern. As a large periodicity indicates a large model complexity, wh

[2021-10-15 11:49] SM-93 opened #33 "GPU utilization"
Hi,
is it possible to train the model using GPU ?
I don't see where we can specify the gpu parameter, for example when wanting to use AutoML module.

Thanks

[2021-10-15 17:50] andrewargeros opened #34 "[BUG] `TimeSeries.from_pd()` does not use pandas frequency codes"
I'm not sure if I'm missing something but with monthly data, it appears that Merlion does not recognize `freq='1MS' ` as per the pandas offset aliases listed [here](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#offset-aliases).

When I run:
[code]

The output is incrementing from `1970-01-01 00:00:00.000` by 1 millisecond, when "MS" is the pandas code for "month start"

[2021-10-15 19:00] andrewargeros commented on #34
@aadyotb Appreciate the response! Cool that the issues are known... is your branch operational? If so, I may just use that as a temporary fix until this is merged.

[2021-10-15 19:10] aadyotb commented on #34
Sure, feel free to use that branch for now. I expect that the PR will be merged to main sometime next week, along with a v1.0.1 to PyPI that fixes these issues.

[2021-10-15 19:13] aadyotb commented on #33
Most of the deep learning models support GPU utilization (they should have a `cuda` or `gpu` parameter in their config objects). However, many of the classical models (e.g. SARIMA) only have CPU implementations.

[2021-10-15 19:13] #33 closed

[2021-10-15 19:29] #26 closed, assigned to chenghaoliu89

[2021-10-16 08:57] SM-93 commented on #33
Appreciate the quick answer.
I am asking this since I am trying to solve multivariate problem with 9 features and around 15k observations.
That is why I asked if it is possible to use gpu to speed up the process :)

[2021-10-17 05:06] z1368 opened #36 "defining metadata in Merlion"
Hi,
I have my dataset in pandas dataframe. How should I define the metadata? I have univariate data, I have tried several ways to define the metadata before train and test, but it is not working. Also, I am not being able to import ts_datasets to use the os datasets.
I would appreciate your help

[2021-10-17 06:48] jeicy07 opened #37 "[BUG]delay value when creating a TSADEvaluator"
**Describe the bug**
In **benchmark_anomaly.py line 307**:
`delay = post_rule_train_config["max_early_sec"]`
Should it be `delay = post_rule_train_config["max_delay_sec"]` cuz post_rule_train_config is updated in `get_model() ` at  line 235 where `d.update({"max_early_sec": dataset.max_lead_sec, "max_delay_sec": dataset.max_lag_sec})`

[2021-10-18 18:43] aadyotb commented on #37
Thanks for the catch! Addressed in #38.

[2021-10-18 18:43] #37 closed

[2021-10-18 18:44] aadyotb commented on #29
Closing this issue as it has been addressed by PR #30.

[2021-10-18 18:44] #29 closed

[2021-10-18 18:47] aadyotb commented on #21
PR #38 updates the installation instructions as discussed.

[2021-10-20 02:28] microprediction commented on #25
... and it's passing. Woot. Hope to start seeing more Merlion models with [Elo ratings](https://microprediction.github.io/timeseries-elo-ratings/html_leaderboards/univariate-k_001.html) soon.

[2021-10-22 21:11] #25 closed, assigned to chenghaoliu89

[2021-10-29 11:44] riteshchhetri10 opened #40 "Request to provide a tutorial of some sort to implement AutoML variants of ETS and prophet for univariate forecasting"
Hey, I had been going through the paper "Merlion: A Machine Learning Library for Time Series" and I came across AutoML variants of ETS and prophet models for univariate forecasting. It would be of great help if you could show some tutorial for implementing them, on a simple univariate dataset like the "air-passengers dataset".
I have also tried the AutoSarima for the same dataset from the merlion.

[2021-10-29 18:28] aadyotb commented on #40
@chenghaoliu89, can you investigate this issue with AutoSARIMA?

@riteshchhetri10 re: [AutoProphet](https://opensource.salesforce.com/Merlion/latest/merlion.models.forecast.html#module-merlion.models.forecast.prophet) and [AutoETS](https://opensource.salesforce.com/Merlion/latest/merlion.models.forecast.html#module-merlion.models.forecast.ets), you may see the linked API docs. Prophet has a parame

[2021-10-29 18:30] aadyotb commented on #40
@riteshchhetri10, would you mind including a code snippet of how you are computing the error as well?

[2021-10-30 10:25] riteshchhetri10 commented on #40
`from merlion.evaluate.forecast import ForecastMetric`

`            test_df_merlion = TimeSeries.from_pd(test_df)
`
`test_pred, test_err = model.forecast(len(test_df))`
`rmse = ForecastMetric.RMSE.value(ground_truth=test_df_merlion, predict=test_pred)`
`mae = ForecastMetric.MAE.value(ground_truth=test_df_merlion, predict=test_pred)`

#Here the test_df is just a pandas dataframe containing the uni

[2021-11-02 15:52] eldritchhh commented on #24
For example: if I would like to forecast a solar panel energy production I (maybe) would use past energy data, past temperature data, ... but almost surely future wheather forecast (solar irradiation, cloud cover, temperature ...) for the prediction horizon. Would be fantastic if I could fit this type of past and future data / regressor in a single model.

[2021-11-02 15:54] chenghaoliu89 commented on #40
@riteshchhetri10 please remove SeasonalityLayer as follows:
[code]
If you wrap up the  `SeasonalityLayer`, even you have specified the `periodicity=12`, it will automatically detect the periodicity. For the periodicity detection module, we use a more strict confidence level 0.975, which would lead to `periodicity =1` in this dataset. Therefore,  the results are not good, since the predictions do n

[2021-11-02 19:46] riteshchhetri10 commented on #40
@chenghaoliu89 You are right, I removed the `SeasonalityLayer` and the RMSE dropped significantly. Although, the RMSE values are still higher compared to kats.models.prophet or statsmodels.tsa.Sarima models. Thanks for the help. I am closing this issue.

[2021-11-02 19:53] aadyotb commented on #40
@chenghaoliu89 sounds good. Can you create a PR adding the confidence parameter to the `SeasonalityLayer` API?

[2021-11-03 01:27] chenghaoliu89 commented on #40
@riteshchhetri10  Would you mind sharing the code for comparison with statsmodel and kats? I might help you diagnosis the reason if I can reproduce the RMSE results.

[2021-11-03 19:17] riteshchhetri10 commented on #40
@chenghaoliu89

Please see the kaggle notebook containing the entire code which builds the following models and tracks the RMSE for them.
a) statsmodel.tsa SARIMAX model
b) kats.prophet model
c) merlion autosarima model
d) pmdautoarima model

You can simply upload the air passengers dataset available on Kaggle and run all cells to get a data frame with the name of the model and RMSE values along w

[2021-11-04 13:38] erezinman opened #42 "[BUG] Problem in using multiprocessing with model"
In version 1.0.1, I try to pass models (say `DefaultForecaster(DefaultForecasterConfig('10min'))`, but it happens other mnodels as well) to different process using the native python multiprocessing package (v3.6.9), and I get the following error:

[2021-11-07 04:16] Jia-py commented on #15
I find that when I remove the -e, it works.

[2021-11-08 19:18] aadyotb commented on #42
Can you please provide a full code example and full error message?

[2021-11-08 22:03] #23 closed

[2021-11-09 04:42] z1368 opened #44 "[FEATURE REQUEST] Canot pass train_config param for LSTM in ensemble training"
**Is your feature request related to a problem? Please describe.**

I am not being able to pass the per_model_train_configs value in ensemble.train() function

**Describe the solution you'd like**

Is there an example for the same that I can refer

[2021-11-09 17:26] chenghaoliu89 commented on #40
@riteshchhetri10
Your can print debug level info `logging.basicConfig(level=logging.DEBUG)` to display the details for hyper-parameter search. In your example, the automl procedure for Merlion is as follows:
![image](https://user-images.githubusercontent.com/74166079/140969240-0f159368-b8d2-40b2-a831-06846305d994.png)
Compared to that, you can also print the details of pmdarima by  `model = pm.aut

[2021-11-09 22:35] aadyotb commented on #44
Please provide a full code example of what you tried, so I can help you debug.

[2021-11-15 15:04] erezinman commented on #42
@aadyotb Yes.

[code]

[2021-12-17 21:03] aadyotb commented on #42
@erezinman thanks for surfacing this bug. The problem should be fixed with Merlion v1.1.0 (#47).

[2021-12-17 21:03] #42 closed

[2021-12-20 04:25] xonze opened #48 "[BUG] 'MoE_ForecasterEnsemble' object has no attribute 'optimiser'"
**Describe the bug**
Code @ examples/advanced/2_MoE_Forecasting_tutorial.ipynb
[code]

[code]

[2021-12-21 03:39] YN-Liang opened #49 "[BUG] Can't pass holiday config to Prophet model"
**Describe the bug**
when setting up the holidays config in ProphetConfig and passing it to Prophet model:
ValueError: holidays must be a DataFrame with "ds" and "holiday" columns.
holidays is pd.dataframe, but after wrapping, it becomes dict;
**To Reproduce**
config2 = ProphetConfig(max_forecast_steps=None, transform=Identity(), holidays=holidays)
model2  = Prophet(config2)

**Expected behavior**

[2021-12-22 15:06] tszumowski opened #52 "[FEATURE REQUEST] Can Merlion handle multi-series datasets?"
This is more a question, but I didn't see a tag for it. Does Merlion support modeling multiple-series datasets? I understand from the README that it supports multi-variate models. I was curious to know if it supports multi-series. For example, consider this [OJ Sales Dataset](https://docs.microsoft.com/en-us/azure/open-datasets/dataset-oj-sales-simulated?tabs=azureml-opendatasets). In this case, t

[2021-12-22 15:07] tszumowski commented on #52
I saw in the Merlion paper on page 14 it mentions the `Int_MF` dataset which has:
* 21 time series
* 22 variables
But the dataset is marked `internal`.

That sounds like an example of multi-series I'm interested in. Was Merlion run on that? If so, how was it configured?

[2022-01-03 03:27] swarmt opened #53 "[BUG] AttributeError: 'DefaultForecasterConfig' object has no attribute 'granularity'"
Running 0_ForecastIntro.ipynb

When training default model throws an Exception
[code]

**To Reproduce**
[code]

 - OS: Colab
 - Merlion Version 1.0.2 and 1.1.0

[2022-01-04 22:31] sirmick commented on #53
Yeah this is a bug for sure. I managed to work around this by using model.config.granularity = None after creating the model, but before using "train"

[2022-01-05 00:56] swarmt commented on #53
[code]
[code]

Does not appear to be any unit tests for DefaultForecaster unless I am mistaken.

[2022-01-05 01:27] swarmt commented on #53
I can work around it by not using the DefaultForcaster
[code]

[2022-01-05 01:40] aadyotb commented on #53
Thanks for surfacing this issue. I'll work on a fix soon.

On Tue, Jan 4, 2022, 5:27 PM SamThomas ***@***.***> wrote:

[2022-01-05 09:29] thinkinds opened #55 "[BUG]Memory Error in Example Code"
**Describe the bug**
A clear and concise description of what the bug is.
Memory error occured when the Anomaly Detection example code was executed.
MemoryError: Unable to allocate 1.16 TiB for an array with shape (159082031251,) and data type int64

**To Reproduce**
Steps to reproduce the behavior
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.
Data sh

[2022-01-05 09:44] thinkinds commented on #55
After debugging, I found the problem may lie in ts_datasets/anomaly/nab.py, more specifically in the following code snippet:
[code]
gcd_dt will be used as freq in pd.date_range of load_labels, but in this line `all_dt = np.unique(np.diff(df["timestamp"])).astype(int)`, int would be the problem when the diff of timestamp are too big. So I fix this by turning it into `all_dt = np.unique(np.diff(df["

[2022-01-05 13:58] akhanafer opened #56 "[FEATURE REQUEST] Easier Merlion Install on Azure Databricks"
**Is your feature request related to a problem? Please describe.**

I've been trying to install Merlion and all the datasets on Azure Databricks for the past couple of days and it's proving to be very difficult. Here's what I've done so far:
1. Install Merlion on my cluster using pip. This was failing at first for some reason but started randomly working two days after my first try.
2. Install the

[2022-01-07 18:15] akhanafer commented on #56
I got it to work by doing the following:
1. Install the merlion module normally via `pip install salesforce-merlion`
2. Create a cluster on-init script that clones the Merlion repository and installs the ts_datasets module via `pip install -e Merlion/ts_datasets`
But this causes a huge increase in cluster initialization time so it'd be nice to have a more seamless installation process

[2022-01-10 18:43] aadyotb commented on #56
@akhanafer we choose not to make `ts_datasets` installable directly from PyPI because we would like to package certain datasets binaries with the package, and have them stored in a single default root directory. We would prefer to avoid making the package itself too large by packaging actual dataset files within it. For this reason, we choose to have the users install the package in editable mode

[2022-01-10 18:43] #56 closed

[2022-01-10 23:09] aadyotb commented on #53
The fix is implemented in in #57.

[2022-01-10 23:10] aadyotb commented on #52
Hi, thanks for your question @tszumowski. Merlion is already capable of supporting multivariate time series datasets for forecasting and anomaly detection. For forecasting, I suggest you check out `ts_datasets.forecast.SeattleTrail`. For anomaly detection, I suggest you check out `ts_datasets.anomaly.MSL`.

[2022-01-10 23:24] tszumowski commented on #52
@aadyotb thank you for the reply. However, what you referenced is multi-variate, not multi-series. Some also cal it multi-instance, or multi-segment. Multi-series means there are multiple time-series as part of the scenario. You wish to forecast all time-series, but the underlying model may apply to all of the series in question. See my referenced scenario where one attempts to predict sales for m

[2022-01-11 00:04] aadyotb commented on #52
Ah, thanks for the clarification. In the paper, we actually train a separate model for each time series. In this case, the data loader is iterable as ``for time_series, metadata in loader: ...``. We currently don't support multi-series data as you describe it, though we may look into it in the future. Re-opening this issue due to earlier misunderstanding.

[2022-01-11 22:16] aadyotb commented on #49
Thanks for surfacing this issue. This is fixed in #59.

[2022-01-11 23:53] jonomon opened #60 "Unable to reproduce results for DAGMM"
Hello,

Thank you for the nice library!

I was just wondering if you managed to reproduce the results in Zong, Bo, et al. "Deep autoencoding gaussian mixture model for unsupervised anomaly detection." International conference on learning representations. 2018.

![image](https://user-images.githubusercontent.com/1509369/149038763-f4ec3cab-d601-44f3-b528-cbf8c38d4b1f.png)

I used the following confi

[2022-01-12 01:17] aadyotb commented on #60
Hi @jonomon, there can be some subtle differences in the way precision/recall are computed, the way the detection threshold is chosen, and how the model handles point data (which the Thyroid dataset is) vs time series data. Before anything else, you should try to use `PointwisePrecision`, `PointwiseRecall`, and `PointwiseF1` as your evaluation metrics, as the default ones are specialized for time

[2022-01-12 21:54] jonomon commented on #60
Hi @aadyotb

Thank you for the reply.

Using `PointwisePrecision`, `PointwiseRecall`, and `PointwiseF1` had the following results:
[code]

It seems like it help too much.

As a side note, both the Autoencoder and VAE achieved comparable results on the Thyroid dataset out of the box.

[code]
[code]

[2022-01-13 01:12] #53 closed

[2022-01-13 01:12] #49 closed

[2022-01-14 23:26] aadyotb commented on #48
Resolved in #51

[2022-01-14 23:26] #48 closed

[2022-01-27 07:20] yangyang919 opened #64 "[FEATURE REQUEST]More light-weight version"
**Is your feature request related to a problem? Please describe.**
Is there a way to install a simplified version of Merlion? We are trying put Merlion into a docker image. But when building the image, we found out that Merlion depends on torch and prophet, which has very large size (around 5GB). If we are not using models related to torch and prophet, can we have a more light-weight version?

[2022-01-27 16:56] aadyotb commented on #64
Yes. As of v1.1.1, the base install of Merlion does not include torch and prophet. These are listed as optional dependencies.

[2022-01-27 16:56] #64 closed

[2022-01-31 14:55] GuidoBorrelli opened #66 "[BUG] from_pd mess up the time indexes"
**Describe the bug**
When importing a TimeSeries from a Pandas Dataframe of date indexes (containing only dates), TimeSeries automatically samples them into datetime and creates fake time indexes by sampling 24 dates into 24 hours of the first day.

**To Reproduce**
[code]

By using a date type index in `df_returns`

**Expected behavior**
It should keep the same date index format.

**Screenshots**

[2022-01-31 17:04] GuidoBorrelli commented on #66
Solved by forcing datetime index, the library captured immediately the correct time series granularity.

[2022-01-31 17:04] #66 closed

[2022-01-31 18:16] GuidoBorrelli opened #67 "[FEATURE REQUEST] business working days"
**Is your feature request related to a problem? Please describe.**
When I predict one month ahead with a daily time series of just business working days I need to make a hack to computer the parameters `max_forecast_steps`

**Describe the solution you'd like**
max_forecast_steps should work taking into account only business working days too or there should be an option to "equalize" indexes regard

[2022-02-01 01:10] lchen-24 opened #69 "[FEATURE REQUEST] Time Series Cross Validation"
**Is your feature request related to a problem? Please describe.**
Time series cross validation is very useful during model selection and some packages do have it as part of backtesting. Curious to know if Merlion will add it in the future or the reason for not adding as part of the package.

**Describe the solution you'd like**
Incorporate time series cross validation as part of package

**Descri

[2022-02-03 01:02] aadyotb commented on #67
You can set `max_forecast_steps` to be larger than the largest value you're expecting. So if you want to forecast 1 month in advance and have daily data, you could set `max_forecast_steps=35`.

In terms of supporting a "business days only" granularity, this is already supported for daily data, and it is called "B". The full list is in the `pandas` documentation [here](https://pandas.pydata.org/pan

[2022-02-03 01:02] #67 closed

[2022-02-05 01:35] lchen-24 commented on #69
model evaluator seems to provide similar function

[2022-02-05 01:35] #69 closed

[2022-02-07 04:16] Zohoor-NezahdHalafi opened #70 "[BUG] I can't import any of the merlion subpachages"
**Describe the bug**
I was able to import merlion. but to install and apply any of the following sub packages it was unsucceful and I am getting error
that No module is available:
from merlion.utils.time_series import TimeSeries
from merlion.evaluate.forecast import ForecastMetric
from merlion.models.automl.autosarima import AutoSarima, AutoSarimaConfig
from merlion.models.automl.seasonality_mixin

[2022-02-10 00:33] aadyotb commented on #70
Can you describe how you tried to install Merlion & from what directory you're attempting to make these calls? What platform are you trying to do this on?

[2022-02-10 00:35] aadyotb commented on #52
@tszumowski, @isenilov has added an initial version of multi-series training for the DAGMM model in #65. Does this roughly match your expectation? As we consider adding a more general version of this feature to our roadmap, your feedback would be welcome. Thanks!

[2022-02-10 01:42] Zohoor-NezahdHalafi commented on #70
Hi,
Thank you for your email. I am following the instructions in
salesforce-merlion. And I am able to install merlion but I get different
errors on the rest of the codes.
Also, I can't run the prophet module in merlion, it keeps sending the error
message:
ImportError: No module named 'prophet'. Try installing Merlion with
optional dependencies using `pip install salesforce-merlion[prophet]` or
`pi

[2022-02-15 21:03] darinkist opened #73 "[BUG] Calculating ForecastMetric for multivariate forecasts"
Hi I am facing an assertion error when calculating a forecast metric for a prediction running multivariate forecasts:

[code]

Since the forecast has only one dimension (my predicted sales) and the test_multi set has multiple ones (sales, store, etc.).

So I thought I could fix the problem by providing the function only the single sales column/series:

[code]

However then I run into the following

[2022-02-15 22:45] aadyotb commented on #73
Thanks for bringing this up. I've created PR #74 which implicitly converts a `UnivariateTimeSeries` to `TimeSeries` when attempting to compute an evaluation metric.

[2022-02-23 08:25] habibatabay opened #75 "Can not execute model.train() - error: "The system cannot find the file specified""
**Describe the bug**
Hi,
I just installed Merlion in my new anaconda environment on windows 10.
The installation was fine except the build error of prophet package using wheel which was solved by installing "libpython m2w64-toolchain -c msys2".
But when I tried to execute the sample code of anomaly detection it throws an error: "FileNotFoundError: [WinError 2] The system cannot find the file speci

[2022-02-23 18:36] aadyotb commented on #75
It sounds like you need to install Java.

[2022-02-23 18:37] aadyotb commented on #73
Closing since #74 resolves the issue.

[2022-02-23 18:37] #73 closed

[2022-02-24 07:50] habibatabay commented on #75
Thanks for your comment.
I installed  Java SE Runtime Environment 10.
The problem is solved.
Thank you.

[2022-02-24 07:50] #75 closed

[2022-02-27 09:45] adminblackjack opened #76 "[FEATURE REQUEST] Can Merlion use GPU to train models?"
This is more a question. Does Merlion support using gpu to train machine learning models ? I did't see any parameter in documentation. Is that because I am too careless to find it ?

[2022-03-04 19:02] garimasingh2016 commented on #70
I am having the same issue as the original post. It's a rather difficult issue to track down because `conda list` shows the package as installed and there's no dependency issues or anything when installing. I've tried install with pip, conda, and mamba and get the same issue.

Installation works in the base environment, but not in a conda environment.

[2022-03-07 02:35] yangyang919 opened #77 "[FEATURE REQUEST]Can we loose the requirement on numpy library"
**Is your feature request related to a problem? Please describe.**
In our ML pipeline, there are library version conflict for **numpy**:
https://github.com/kserve/kserve/pull/8 93.26 The conflict is caused by:
https://github.com/kserve/kserve/pull/8 93.26 The user requested numpy>=1.15.4
https://github.com/kserve/kserve/pull/8 93.26 cmdstanpy 0.9.68 depends on numpy>=1.15
https://github.com/kserve

[2022-03-15 16:21] varunsridhar1 opened #78 "[BUG] issues with using ETS model for forecasting"
**Describe the bug**
I'm trying to use the ETS model for forecasting and I'm running into some issues. I trained the model (with the default config aside from `max_forecast_steps=10` on the M4 training set (using Weekly data), and then I'm trying forecast on the test set (the timestamps of the test set come right after the timestamps of the training set). I tried using the first 10 values of the t

[2022-03-15 19:28] aadyotb commented on #77
We've encountered backwards compatibility issues with older versions of numpy, so we cannot loosen this requirement.

[2022-03-15 19:28] #77 closed

[2022-03-15 20:25] aadyotb commented on #78
Thank you for the catch. PR #79 fixes the issue.

[2022-03-16 23:06] #78 closed

[2022-03-29 11:48] sunxin000 opened #81 "[BUG]import error"
**Describe the bug**
benchmark_forecast.py from ts_datasets.forecast import * should be from ts_datasets.ts_datasets.forecast import *

[2022-03-29 22:25] aadyotb commented on #81
You need to install the `ts_datasets` package as described in the installation section of the README first.

[2022-03-29 22:25] #81 closed

[2022-03-29 22:26] aadyotb commented on #76
Sorry for the delayed response. Currently, this is on a per-model basis. Some of the deep learning models have a `cuda` / `use_cuda` / `gpu` option which allows them to run on GPU. However, it's currently not done in a unified way. We do plan to make this interface more consistent in the future.

[2022-03-29 22:28] aadyotb commented on #70
I'm unable to reproduce the error, even in conda. Closing the issue unless there are further updates with a line-by-line log of exactly how the environment was configured & how Merlion installation was conducted.

[2022-03-29 22:28] #70 closed

[2022-04-01 00:54] adminblackjack commented on #76
Thank you! I'm looking forwark to it!

[2022-04-02 15:25] sunxin000 opened #82 "[BUG]"
**Describe the bug**
when i run python benchmark_forecast.py --model ets --retrain_type sliding_window_retrain --n_retrain 4
retrain seems didnt work. the model is only trained once.

i think that there is sometion wrong with the ForecastEvaluatorConfig.cadence, it is set to be the horizon, which is the lenth of the test_set, not the retrain_freq, so when one loop is done, t adding to the cadence

[2022-04-06 11:05] darinkist opened #83 "[FEATURE REQUEST] Options to impute missing values in univariate time series"
Imputing missing values with the _.algin()_ method works afaik only for multivariate (so a collection of univariate) time series. But what if I only have a single time series.

[code]

In this case the entry for 03/04/2022 will be removed/excluded from the set when calling _.from_pd()_.
It would be great to still have here options to impute the nan value at index "03/04/2022".

What do you think?

[2022-04-13 19:52] namaya opened #84 "[BUG] Cannot install salesforce-merlion conda package in a python 3.9 environment on Mac"
**Describe the bug**

The `salesforce-merlion` conda package is not installing in a python 3.9 environment. Instead, the following
error is being thrown

[code]

**To Reproduce**

Create a python 3.9 environment and activate it

[code]

Install `salesforce-merlion` into environment

[code]

**Expected behavior**

`salesforce-merlion` conda package is installed and available in python environment.

[2022-04-13 21:48] kgullikson88 commented on #84
I think the main reason for this is that the [conda-forge feedstock](https://github.com/conda-forge/salesforce-merlion-feedstock/blob/main/recipe/meta.yaml#L25) still has merlion requiring the (old) `fbprophet` instead of the newer `prophet`. Probably just need to get those dependencies back in sync with what is in the setup.py here.

[2022-04-18 20:26] aadyotb commented on #83
Thanks for the question. This is a good point. PR #85 adds an option `drop_nan` to `TimeSeries.from_pd()` which allows you to keep the nan value and then impute it afterwards with `.align()`. Does this address your concern?

[2022-04-18 20:28] aadyotb commented on #84
Yeah, this sounds correct. @namaya I'm not the one maintaining the conda recipe, so I'd recommend taking this issue up with the maintainers of that repo.

[2022-04-18 20:28] #84 closed

[2022-04-18 20:52] aadyotb commented on #82
Thanks for pointing this out. PR #86 fixes the issue.

[2022-04-18 21:29] #83 closed

[2022-04-18 22:40] #82 closed

[2022-04-19 13:23] thehoodbuddha opened #87 "[BUG] Chucking issue for LSTM forecasting"
**Describe the bug**

Hi, I am trying to implement the LSTM method on the Itrust SWAT datasets using Merlion. However, I am running into a chucking issue for LSTM. LSTM is the only model where I encounter this issue. I resampled the training_data for every second to have consistent interval. However, the issue remains. I wonder whether this is a bug or a problem in my code.

Lastly, do you have an

[2022-04-25 07:36] sunxin000 opened #89 "[FEATURE REQUEST] can merlion implement the increment learning when retrain?"
**Describe the solution you'd like**
the defaultforecaster of the merlion is the combination of autoets and lightgbm, can merlion support increment(continue) learning for lightgbm? which is feasible by using parameter `init_model` of `lightgbm.fit()`

[2022-05-18 21:45] pnsafari opened #91 "[BUG] ValueError: invalid literal for int() with base 10: b''"
**Describe the bug**
While trying to run the example of anomaly detection as presented in the README file, I got this ValueError. The full traceback of the error is presented below.

**To Reproduce**
Just try to run the example of Anomaly detection as presented in the README file.

**Expected behavior**
Run with the expected outputs as the anomaly detection example in the README file.

**Screensho

[2022-05-19 06:17] pnsafari commented on #91
@aadyotb thanks, that is the fix.

[2022-05-19 06:17] #91 closed

[2022-05-26 13:59] na018 opened #92 "[BUG] ValueError: invalid literal for int() with base 10: b'' - Anomaly Detection Jupyter Example"
**Describe the bug**
Running the example Jupyter Notebook Merlion/examples/anomaly/0_AnomalyIntro.ipynb (second sell) - Model can not be trained
Java was installed as described:
[code]
**To Reproduce**
Running the example Jupyter Notebook Merlion/examples/anomaly/0_AnomalyIntro.ipynb (second sell)

**Expected behavior**
Model can be trained as expected.

**Screenshots**
<img width="1184" alt="imag

[2022-05-31 09:22] na018 commented on #92
The error was introduced in https://github.com/salesforce/Merlion/pull/62 from @aadyotb
This version still works a0afb87 for the example notebooks

[2022-05-31 09:32] MBasalla opened #93 "[FEATURE REQUEST] example notebook for change point detection"
**Is your feature request related to a problem? Please describe.**
While there are several examples for the anomaly detection and forecasting cases, there is at this moment no such cod example for the change point detection case.

**Describe the solution you'd like**
A basic change point example is added to the example notebooks.

[2022-05-31 09:47] MBasalla opened #94 "[FEATURE REQUEST] somewhat unintuitive default forecasting model"
**Is your feature request related to a problem? Please describe.**
It is somewhat unintuitive, that the model returns a standard error in the univariate case and but not in the multivariate case (due to using a tree based forecast in the multivariate case).

**Describe the solution you'd like**
Ideally the default forecaster should return the same output "format" (forecast and standard error) inde

[2022-05-31 10:39] MBasalla opened #95 "[FEATURE REQUEST] Roadmap for Merlion"
**Describe the solution you'd like**
It would be great to have a general roadmap of what is planned in the development of Merlion.

**Additional context**
One one hand it would help to decide if and how to integrate merlion in existing projects and work environments (e.g. which of the features, models, etc. we are missing right now are planned to be integrated into the library).
On the other hand

[2022-05-31 18:12] aadyotb commented on #94
@MBasalla thanks for the suggestion. @Emerald01 can you look into enhancing the tree models with uncertainty estimates?

[2022-05-31 18:15] aadyotb commented on #92
Hi @na018 I'm not able to reproduce the error. Can you check to see if the `$JAVA_HOME` environment variable is set? On Mac OS Monterrey, my `~/.bash_profile` file has the line `export JAVA_HOME=$(/usr/libexec/java_home)`.

[2022-05-31 18:43] aadyotb commented on #95
Thanks for the question @MBasalla. We are hesitant to release an explicit roadmap at this time. However, I can tell you about three high priority features we are currently working on:

1. Deployment in a distributed computation environment using PySpark. This will include a containerized Docker app. The main goal of parallelism is to allow users to train models & run inference on multiple time ser

[2022-05-31 21:01] mccrinbc-ss opened #96 "[BUG] FileNotFoundError: [Errno 2] No such file or directory: 'java'"
**Describe the bug**
FileNotFoundError: [Errno 2] No such file or directory: 'java'. Could this issue be related to VS Code, or did  OpenJDK not install correctly for Merlion's path dependencies?

**To Reproduce**
Followed the steps to install _openjdk_ for Ubuntu using:
sudo apt-get install openjdk-11-jdk.

I loaded in my own proprietary dataset and followed the conversion steps:
[code]
This resu

[2022-06-01 00:01] aadyotb commented on #96
I suspect you'll need to set the environment variable `$JAVA_HOME` appropriately, and ensure that `java`'s bin directory is on your `$PATH`.

[2022-06-03 03:06] FlorinAndrei opened #98 "[BUG] the basic example on the front page fails"
**Describe the bug**
I literally did a copy/paste of the code on the main repo page, and it failed at the visualization step.

**To Reproduce**

[code]

I get this:

[code]

**Expected behavior**
A nice image is generated.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Merlion Version 1.2.

[2022-06-03 22:53] #98 closed

[2022-06-04 01:27] FlorinAndrei opened #100 "[BUG] hello world DefaultDetector code fails"
**Describe the bug**
The code shown on the project's front page fails.

**To Reproduce**
[code]

[code]

**Expected behavior**
Do something useful.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Merlion Version 1.2.0

**Additional context**
Add any other context about the problem here.

[2022-06-04 05:05] aadyotb commented on #100
The [installation instructions](https://github.com/salesforce/Merlion#installation) in the README state that you need to install Java. See [here](https://www.java.com/en/download/manual.jsp) for how to install Java on Windows. Once this is done, you'll also need to ensure that `java` can be found on the `PATH` environment variable, and that the `JAVA_HOME` environment variable is set appropriately

[2022-06-04 05:05] #100 closed

[2022-06-04 20:17] FlorinAndrei commented on #100
@aadyotb The java executable is available on the PATH. I have also tested this by simply running `java` from the same terminal that launched `jupyter notebook`.

`JAVA_HOME` is defined and points to the installation path of Java. I have verified this by running `echo %JAVA_HOME%` in the same terminal.

I get the exact same error as above. The real cause is different.

[2022-06-06 01:41] chenghaoliu89 opened #101 "[BUG]AutoML does support invert forecast"
AutoML does support invert forecast. For example, `AutoETS(AutoETSConfig(transform=PowerTransform())` is not able to invert forecast when prediction.

[2022-06-07 11:11] SHIJIE0313 opened #102 "[BUG] I can't reproduce the instance model"
**Describe the bug**
I can't reproduce the instance model

**To Reproduce**
The problem is on the ts-datasets installation，

if i use
`pip install -e ../Merlion/ts-datasets/`
when i run the program the error is can not find ts-datasets，

if i use
`pip install  ../Merlion/ts-datasets/`
when i run the program the error is [Errno 2] No such file or directory: '/usr/local/lib/python3.8/data/M4/M4-info

[2022-06-07 11:13] SHIJIE0313 commented on #102
I try to use this way to solve this problem,but lose.
[code]

[2022-06-07 14:48] bkowshik opened #103 "[BUG] AttributeError: 'DefaultForecasterConfig' object has no attribute 'invert_transform'"
**Describe the bug**
[code]

**To Reproduce**
Notebook using a different dataset https://github.com/salesforce/Merlion/blob/main/examples/forecast/0_ForecastIntro.ipynb

**Expected behavior**
Visualization of the actual and forecasted values.

**Desktop (please complete the following information):**
 - OS: macOS Big Sur
 - Merlion version: `1.2.0`

[2022-06-07 16:52] SinclairGurny commented on #103
Having this error as well

[2022-06-07 21:48] aadyotb commented on #102
You need to do
[code]
The `-e` is important; otherwise you will need to manually specify the directory at which each dataset is stored. Also make sure to call this from the directory where you can find `Merlion`. Otherwise `pip` can get confused.

[2022-06-08 00:27] SHIJIE0313 commented on #102
This problem has been solved, because I tried to access github in China, due to some reasons, the dataset cannot be downloaded, and it needs to be downloaded manually

[2022-06-08 14:36] bkowshik opened #105 "[Help] Not getting a proper forecast using DefaultForecaster"
Following the tutorial, I tried to get some forecasts on some quarter hourly datasets. Split the dataset into the `train` and `test` parts, training the model on the `train` dataset and getting model predictions on the `test` dataset.

<img width="1595" alt="Screenshot 2022-06-07 at 8 51 37 PM" src="https://user-images.githubusercontent.com/2899501/172643176-4c0461de-53e7-46b4-8b45-4d4e50c912f9.pn

[2022-06-09 01:57] aadyotb commented on #103
Fixed in #104.

[2022-06-09 01:57] #103 closed

[2022-06-09 01:57] aadyotb commented on #101
Thanks for highlighting the issue @chenghaoliu89. This is fixed in #104.

[2022-06-09 01:57] #101 closed

[2022-06-09 01:57] #102 closed

[2022-06-09 01:59] aadyotb commented on #105
Ultimately the performance of the model is data-dependent. The default models are meant to give a good starting point, but they may not be suitable for all datasets. From looking at this time series, the `AutoProphet` model may be a better fit instead.

[2022-06-09 03:38] bkowshik commented on #105
Thank you @aadyotb Closing this ticket for now.

[2022-06-09 03:38] #105 closed

[2022-06-14 08:55] MBasalla commented on #95
Thank you for the quick response.

The general roadmap is a good indicator of what to expect in the future.

I agree that more specific separate feature requests are the best way to discuss more specific ideas and open issues.

[2022-06-14 08:55] #95 closed

[2022-06-16 07:06] #40 closed

[2022-06-29 07:30] bayd opened #111 "[BUG] Anomaly Detection example doesn't work"
**Describe the bug**
The example for Anomaly detection doesn't work for me.

**To Reproduce**
I have istalled Merlion and data as was explained in the instruction. But can't run the second cell in Jupyter notebook, see the screenshot.

**Screenshots**
![image](https://user-images.githubusercontent.com/26165213/176377546-87ac318d-3ec4-4440-82fd-617a529ce1a3.png)

**Desktop (please complete the foll

[2022-06-30 03:41] AlvinAi96 commented on #87
I got the same problem. It seems that LSTM is hard to compatible with the self-define train config.

[2022-07-14 02:12] aadyotb commented on #111
I'll need a full stack trace, but realistically it looks like you don't have Java installed.

[2022-07-20 04:44] waue0920 commented on #92
Hi, I also encountered the same issue, that is because the old java version 1.8.
It is resolved after I remove openjdk 1.8 and install 1.11.

$ sudo apt remove openjdk-1.8
$ sudo apt install openjdk-1.11

[2022-09-01 20:30] #111 closed

[2022-09-01 20:30] #96 closed

[2022-09-01 20:31] #92 closed

[2022-10-03 17:52] #24 closed, assigned to nobody

[2022-10-04 20:55] drobbster opened #126 "[FEATURE REQUEST] - GridSearch, Time Series Cross Validation, and Back Testing"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
I would like to see gridsearch, ts cv, and backtesting like is found in skforecast / scikit learn. It would improve this packages effectiveness in a production environment

**Describe alternatives you'v

[2022-10-11 08:56] aadyotb commented on #93
This would be great. Please feel free to make a pull request with the
notebook once it is commented, and I can review it. Thanks for the
contribution!

On Tue, Jun 14, 2022 at 1:51 AM Marcus Basalla ***@***.***>
wrote:

--
Aadyot Bhatnagar
Research Engineer, Machine Learning
Salesforce

[2022-10-20 18:28] aadyotb commented on #126
Thanks for the comment. For time series cross validation and backtesting, I suggest you look into Merlion's [evaluation framework](https://opensource.salesforce.com/Merlion/merlion.evaluate.html). I believe this should address a lot of your concerns. If not, please let us know what deficiencies you see, so we can work to improve the library accordingly.

For grid search, this is a work in progress

[2022-10-27 09:14] willionZS commented on #100
I get the  exact same error as above, too.  but I have verified this by running echo %JAVA_HOME% in the same terminal, too.

[2022-10-31 15:58] lostella opened #130 "[BUG] Documentation website does not load"
**Describe the bug**
Documentation website does not load.

**To Reproduce**
Visit https://opensource.salesforce.com/Merlion/v1.3.1/index.html

**Expected behavior**
I would expect the page to load and display.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: iPadOS, Safari

**Additional context**
Add any

[2022-10-31 18:23] lostella commented on #130
Appears to have been a transient issue, works fine now!

[2022-10-31 18:23] #130 closed

[2022-11-01 13:36] anton164 opened #131 "[FEATURE REQUEST] Unsupervised Evaluation Metrics"
**Is your feature request related to a problem? Please describe.**
The current evaluation metrics in `evaluate/anomaly.py` assume that a ground truth available. However, in many time series anomaly detection problems there is no ground truth.

It would be great if the Merlion evaluation base classes were more general and supportive of this use-case. As of now we effectively have to implement our o

[2022-11-01 18:08] aadyotb commented on #131
@anton164 Thanks for the comment. You highlight a fundamental challenge with anomaly detection -- often, ground truth labels are unavailable. But in my experience, the most common metrics people use to evaluate anomaly detection algorithms are the ones supported in Merlion, all of which require ground truth labels. If you have (1) specific unsupervised metrics in mind, and (2) a compelling use cas

[2022-11-02 04:44] jorgegarcia197 opened #132 "[FEATURE REQUEST] Load from zipfile"
**Is your feature request related to a problem? Please describe.**
I am trying to create a solution that is serverless and load a model from a cloud storage, so an easy way to upload the config + binary data could be a .zip or a .tar object. Currently i am trying to upload it separately into a folder but it takes two trips and two downloads before the loading, adding latency to my system

**Descri

[2022-11-02 15:31] anton164 commented on #131
Thanks for sharing your thoughts @aadyotb ! I will give it a try and report back once I have a demo in Merlion

[2022-11-02 21:40] aadyotb commented on #132
Thanks for the suggestion. You actually are able to save/load the model to/from a single binary file as follows:
[code]
Let me know if this addresses your concerns.

[2022-11-08 21:15] jorgegarcia197 commented on #132
Hi! just following up on this issue

This snippet did solve my issue!

Thank you for your fast response! I will be closing this issue

[2022-11-08 21:15] #132 closed